
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch
/ShooterGameProject/Content/Maps/Test.umap
/ShooterGameProject/Content/WYJ/Level/Test.umap
/ShooterGameProject/Content/WYJ/Mode/Test_BGameMode.uasset
/ShooterGameProject/Content/WYJ/Mode/Test_BGameState.uasset
/ShooterGameProject/Content/WYJ/Mode/Test_BPlayerController.uasset
/ShooterGameProject/Content/WYJ/Mode/Test_BPlayerState.uasset
/ShooterGameProject/Content/WYJ/Test_BCharacter.uasset
/ShooterGameProject/Content/WYJ/Test_BGameMode.uasset
/ShooterGameProject/Content/WYJ

/ShooterGameProject/Content/Maps/Aerialfortress1.umap
/.gitignore
